body{
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Inter', Arial, sans-serif;
}

body > *:not(script){
    display: block;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    line-height: 1;
}

p{
    line-height: 1.4;
}

a{
    color: inherit;
}

h1{
    margin-bottom: 2rem;
}

button{
    font-size: inherit;
    padding: 0.6rem;
    border-radius: 4px;
    border: 1px solid #ddd;
    background-color: transparent;
    cursor: pointer;
}

button:hover{
    background-color: #eee;
}

input,
textarea{
    display: block;
    width: 100%;
    font-size: inherit;
    font-family: inherit;
    line-height: 1.4;
    padding: 0.4rem 0.6rem;
    border-radius: 0;
    border: 1px solid #aaa;
}

input{
    min-height: 2.5rem;
}

.flex{
    display: flex;
    align-items: center;
}

.event-element{
    cursor: pointer;
    height: 24px;
    line-height: 24px;
    width: 100%;

    margin-bottom: 4px;
    padding: 0 8px;
    
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: bold;
    font-size: 0.8rem;
    color: #222;

    border-radius: 2px;
}

.event-element:hover{
    opacity: 0.5;
}